[submodule ".antigen"]
	path = files/.antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".pyenv"]
	path = files/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "files/.rbenv"]
	path = files/.rbenv
	url = https://github.com/rbenv/rbenv.git
