[submodule ".antigen"]
	path = files/.antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".pyenv"]
	path = files/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "files/.rbenv"]
	path = files/.rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "files/.goenv"]
	path = files/.goenv
	url = https://github.com/syndbg/goenv.git
[submodule "pyenv-plugins/pyenv-virtualenv"]
	path = pyenv-plugins/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv.git
[submodule "pyenv-plugins/pyenv-virtualenvwrapper"]
	path = pyenv-plugins/pyenv-virtualenvwrapper
	url = https://github.com/pyenv/pyenv-virtualenvwrapper.git
[submodule "rbenv-plugins/ruby-build"]
	path = rbenv-plugins/ruby-build
	url = https://github.com/rbenv/ruby-build
[submodule "files/.nvm"]
	path = files/.nvm
	url = https://github.com/nvm-sh/nvm.git
