# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Josh Hollandsworth
	email = josh@joshholl.com
[alias]
  p = push
  ff = pull --ff-only
  pf = push --force-with-lease
  pu = push -u origin HEAD
  aa = add :/
  co = checkout
  ca = commit --amend
  can = commit --amend --no-edit
  cm = commit
  cmm = commit -m 
  st = status
  new = checkout -b
  rem = rebase origin/master
  what = rev-parse --abbrev-ref HEAD
